* {
  cursor: default;
}

input,
textarea {
  cursor: text !important;
}

button {
  cursor: pointer !important;
}

#app {
  height: 100vh;
  overflow: hidden;
}

html {
  user-select: none;
}

main {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

input {
  all: unset;
}

input::-webkit-textfield-decoration-container {
  cursor: pointer;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
